* {
  margin: 0;
  padding: 0; }

body {
  background-color: white;
  margin: 0;
  padding: 0; }

.topnav {
  overflow: hidden;
  background-color: white; }
  .topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    font-size: 15px;
    text-decoration: none; }
  .topnav .logo {
    float: left; }
  .topnav .btn-sign-up {
    border: red solid 0.5px;
    border-radius: 25px;
    padding: 10px; }
  .topnav .iconnav {
    display: none; }

.topnav a:hover {
  color: red;
  border-color: red;
  border-bottom: solid;
  border-width: 0.5px; }

@media screen and (max-width: 600px) {
  .topnav a {
    display: none; }
  .topnav .iconnav {
    float: right;
    display: block; }
  .responsive {
    position: relative; }
  .responsive a {
    float: none;
    display: block;
    text-align: left; }
  .responsive .iconnav {
    position: absolute;
    right: 0;
    top: 0; } }

.introduce {
  margin-top: 10px;
  width: 100%;
  height: 350px;
  text-align: center;
  background-color: grey;
  color: white;
  overflow: hidden; }
  .introduce .content-introduce {
    margin-top: 70px; }
  .introduce .btn-demo {
    border: white solid 1px;
    padding: 10px 20px;
    background-color: grey;
    font-size: 17px;
    color: white;
    margin: 5px;
    font-style: bold;
    width: 150px; }
  .introduce .btn-download {
    padding: 10px 20px;
    border-color: red;
    background-color: red;
    font-size: 17px;
    color: white;
    margin: 5px;
    font-style: bold;
    width: 150px; }

.explore-product {
  text-align: center;
  height: auto;
  margin: 20px auto; }
  .explore-product h3 {
    padding-top: 10px; }
  .explore-product hr {
    color: blue;
    width: 40px;
    display: inline-block; }

.work1 {
  background-color: #e49797; }
  .work1 .image-work1 {
    position: relative;
    width: 70%;
    height: 300px;
    margin: 0 auto;
    padding-top: 10px; }
    .work1 .image-work1 img {
      width: 100%;
      height: 300px; }
  .work1 h4 {
    margin: 20px; }
  .work1 h4 i {
    margin-right: 7px;
    color: #00acc1eb; }
  .work1 p {
    padding: 20px; }

.plans-built {
  background-color: #00acc1eb;
  text-align: center;
  padding: 10px;
  margin-bottom: 40px; }
  .plans-built h3 {
    padding-top: 10px; }
  .plans-built hr {
    color: blue;
    width: 40px;
    display: inline-block; }
  .plans-built .card-item {
    background-color: white;
    box-shadow: 4px 4px 5px 0px rgba(250, 245, 250, 0.5);
    margin: 20px;
    padding: 20px; }

.btn-select {
  padding: 10px 20px;
  border-color: #03a9f4;
  background-color: #03a9f4;
  font-size: 14px;
  color: white;
  margin: 5px;
  font-style: bold;
  width: 150px; }

.content-service {
  margin: 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; }
  .content-service .icon-service {
    display: inline;
    font-size: 30px;
    margin-right: 10px; }
  .content-service .text-service {
    display: inline; }

.meet-the-team {
  text-align: center; }
  .meet-the-team .card-name {
    box-shadow: 4px 4px 5px 0px rgba(250, 245, 250, 0.5);
    padding: 20px;
    margin: 80px;
    background-color: #EEEEEE; }
    .meet-the-team .card-name img {
      z-index: 2;
      width: 75px;
      height: 75px;
      top: -45px;
      position: relative;
      border: 2px solid white;
      border-radius: 50%; }

.about-us {
  background-color: #3f4d7d;
  padding: 20px; }
  .about-us h3 {
    color: white;
    margin: 10px; }
  .about-us p {
    margin: 10px;
    color: white; }
  .about-us hr {
    width: 35px;
    margin: 10px; }
  .about-us i {
    color: #0061ac;
    margin: 5px; }
  .about-us label {
    color: white; }
