* {
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    .logo {
        float: left;
        margin: 0;
        padding: 0;
        overflow: hidden;
        text-decoration: none;
        padding: 17px;
        color: black;
        font-weight: bold;
    }
    ul{
        float: right;
        margin: 0;
        padding: 0;
        display: flex;
        overflow: hidden;

        li{
            list-style: none;
            padding: 10px;

            a{
                display: block;
                text-decoration: none;
                color: black;
            }
            .btn-sign-up {
                border: red solid 0.5px;
                border-radius: 25px;
            }
            .iconnav i{
                display: none;
            }
            .list{
                padding: 7px;
            }

            a:hover {
                color: red;
                border-color: red;
                border-bottom: solid;
                border-width: 0.5px;
            }
        }

    }
}
// .topnav {
//     overflow: hidden;
//     background-color: white;
//     display: flex;

//         .logo {
//             float: left;
//         }
//         .menu {
//             float: right;
//             color: black;
//             text-align: center;
//             padding: 10px 14px;
//             font-size: 15px;
        
//             a {
//                 text-decoration: none;
//                 display: block;
//             }
//             .btn-sign-up {
//                 border: red solid 0.5px;
//                 border-radius: 25px;
//                 padding: 10px;
//             }
//             .iconnav {
//                 display: none;
//             }
//     }
// }

// .topnav a:hover {
//     color: red;
//     border-color: red;
//     border-bottom: solid;
//     border-width: 0.5px;
// }

@media screen and (max-width: 1023px) {
    nav .logo {
        display: none;
    }
    nav ul li .list {
        display: none;
    }
    nav ul li .iconnav i {
        display: block;
        padding: 7px;
    }
    //Khi người dùng ấn vào icon menu
    .responsive {
        position: relative;
        display: block;
    }
    .responsive ul {
        float: left;
        display: inline;
    }
    .responsive ul li .list{
        display: block;
    }
    .responsive ul li .iconnav i {
        position: absolute;
        right: 0;
        top: 0;
    }
}

//Nội dung
//Phone
.introduce {
    margin-top: 10px;
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: grey;
    color: white;
    overflow: hidden;

    .content-introduce {
        margin-top: 70px;
        
        p{
            padding: 20px 20px;
            text-align: center;
        }
    }

    .btn-demo {
        border: white solid 1px;
        padding: 10px 20px;
        background-color: grey;
        font-size: 17px;
        color:white;
        margin: 5px;
        font-style: bold;
        width: 150px;
    }
    .btn-download {
        padding: 10px 20px;
        border-color: red;
        background-color: red;
        font-size: 17px;
        color:white;
        margin: 5px;
        font-style: bold;
        width: 150px;
    }
}
//Explore-product
//Mobile
.explore-product {
    text-align: center;
    height: auto;
    margin: 20px auto;
    h3 {
        padding-top: 10px;
    }
    
    hr {
        color: blue;
        width: 40px;
        display: inline-block;
    }
}

//Work1
//Mobile
.work1 {
    background-color: #e49797;

    .image-work1{
        position: relative;
        width:70%;
        height:300px;
        margin: 0 auto;
        padding-top: 10px;

        img {
            width: 100%;
            height: 250px;
        }
    }

    h4 {
        margin: 10px;
    }

    h4 i {
        margin-right: 7px;
        color: #00acc1eb;
    }

    p {
        padding: 12px;
    }
}

//Plans
//Mobile
.plans-built {
    background-color: #00acc1eb;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;

    h3 {
        padding-top: 10px;
    }
    
    hr {
        color: blue;
        width: 40px;
        display: inline-block;
    }

    .card-item {
        background-color: white;
        box-shadow: 4px 4px 5px 0px rgba(250,245,250,0.5);
        margin: 20px;
        padding: 20px;
    }
}

.btn-select {
    padding: 10px 20px;
    border-color: #03a9f4;
    background-color:#03a9f4;
    font-size: 14px;
    color:white;
    margin: 5px;
    font-style: bold;
    width: 150px;
}
//offer-services
//Mobile
.content-service {
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    .icon-service {
        display: inline;
        font-size: 30px;
        margin-right: 10px;
    };

    .text-service {
        display: inline;
    }
}

//meet the team 
//Mobile
.meet-the-team {
    margin-top: 10px;
    text-align: center;

    .card-name {
        box-shadow: 4px 4px 5px 0px rgba(250,245,250,0.5);
        padding: 20px;
        margin: 80px;
        background-color: #EEEEEE;

        img {
            z-index: 2;
            width: 75px;
            height: 75px;
            top: -45px;
            position: relative;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
}

//footer
//mobile
.about-us {
    background-color:#3f4d7d;
    padding: 20px;

    h3 {
        color: white;
        margin: 10px;
    }
    p {
        margin: 10px;
        color: white;
    }
    hr {
        width: 35px;
        margin: 10px;
    }
    i {
        color: #0061ac;
        margin: 5px;
    }

    label {
        color: white;
    }

}

.checkbox {
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        background-color: #eee;
        border-radius: 50%;
    }
  }

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox .checkmark:after {
    top: 4.5px;
	left: 4.5px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
  }  
.text {
    width: 100%;
    margin: 5px;
}
.btn-send {
    padding: 10px 20px;
    border-color: red;
    background-color: red;
    font-size: 17px;
    color:white;
    margin: 5px;
    font-style: bold;
    width: auto;
}

//Tablet
@media screen and (max-width: 1023px) and (min-width: 601px) {
.info-work1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .content-info-work-3{
        grid-column: 1/3;
    }
}
.content-plans-built {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;
}

.service {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .content-service-5{
        grid-column: 1/3;
    } 
    .content-service-6{
        grid-column: 1/3;
    }
}
.team{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .card-name{
        padding: 10px;
        margin: 20px;
    }

    .card-name-3{
        grid-column: 1/3;
    }
}
.about-us{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .drop-us{
        grid-column: 1/3;
    }
}
}
//desktop
@media screen and (min-width: 1024px) {
.work1{
    display: grid;
    grid-template-columns: auto auto;
    grid-row: auto auto;

    .image-work1{

        img{
            padding-top: 2px;
        }
    }
}

.content-plans-built {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto auto;
}

.service {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;

}

.team{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto;

    .card-name{
        padding: 10px;
        margin: 20px;
    }

}

.about-us{
    display: grid;
    grid-template-columns: 400px auto auto;
    grid-row: auto auto;

}

}